.container {
    display: flex;
    justify-content: center;
}

.clickbox {
    height: 300px;
    width: 300px;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}