.nav {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  nav h1 {
    margin: 0;
  }
  
  nav a {
    color: white;
    display: inline-block;
    padding: 20px;
    font-size: 1.2em;
    text-decoration: none;
  }
  
  nav a:hover {
    background: #282C34;
  }

  nav img {
    height: 50px;
    width: 50px;
    animation-name: float;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  @keyframes float {
    50% {padding-top: 20px}
    }
    