.restaurant {
    background-color: lightyellow;
    /* it helps to put them in one line */
    flex-basis: calc(30% - 20px);
    margin: 10px;
    cursor: pointer;
    text-align: left;
  }
  
  .restaurant:hover {
    opacity: 0.9;
  }
  
  /* .restaurant-picture {
    height: 180px;
    background-size: cover;
  } */
  
  .restaurant-name {
    margin-top: 10px;
  }

  .restaurant-address {
    float: right;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;  
}
