a {
    color: black;
}

.barscontainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.bars {
    height: 50px;
    width: 500px;
    font-size: 30px;
    text-align: center;
    margin: 20px;
    background: gray;
}