body {
  background-color: #FDEFD8;
}
.main {
  text-align: left;
  display: flex;
  flex-direction: column;
}

nav {
    background: black;
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
a {
  color: white;
  text-decoration: none;
}
.links {
  white-space: nowrap;
  margin: 0
}